body, html {
  margin: 0;
  background: #000;
}

#container {
  position: relative;
  text-align: center;
  width: 600px;
  margin: 5% auto;
  }
  #container #ball {
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
  }
  #container #lights {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
  }
  #container #paddles {
    top: 0;
    left: 0;
    z-index: -2;
    position: absolute;
  }
  #container #game {
    top: 0;
    left: 0;
    z-index: -3;
    position: absolute;
  }